/*********************************************/
/* GENERAL */
/*********************************************/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	font-size: 10px;
	font-family: 'Yusei Magic', sans-serif;
}
html,body{
	height:100%;
}
section{
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
}
.visible{
	visibility: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hidden{
	visibility: hidden;
	display: none;
}
input[type="button"]{
	transition: all 300ms ease;
	font-family: 'Yusei Magic', sans-serif;
	color: #F7DC6F;
	background: #CB4335;
	text-decoration: none;
	cursor: pointer;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border-radius: 0.5rem;
}
input[type="button"]:hover{
	transform: translate(-0.3rem, -0.3rem);
	box-shadow: 0.3rem 0.3rem 0.2rem rgba(0,0,0,0.4);
}
/*********************************************/



/*********************************************/
/* INICIO */
/*********************************************/
#inicio{
	background: #0B5345;
}
#inicio .container{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1rem;
	border-radius: 1rem;
}
#inicio h1{
	font-size: 3.5rem;
	text-align: center;
}
#inicio fieldset{
	margin: 1.2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border: 0.5rem solid #CB4335;
}
#inicio legend{
	margin-left: 1.2rem;
	padding: 0.8rem;
	font-size: 1.8rem;
}
#inicio input[type="text"]{
	border: none;
	width: 100%;
	font-size: 2rem;
	text-align: center;
	background: unset;
}
#inicio label{
	font-size: 1.8rem;
	cursor: pointer;
}
#inicio form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem;
}
.input-group{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2rem;
}
input[type='radio']{
	margin-left: 0.8rem;
}
input[type='radio']:after {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    top: -0.8rem;
    left: -0.4rem;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.3rem solid white;
    cursor: pointer;
}

input[type='radio']:checked:after {
   	width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    top: -0.8rem;
    left: -0.4rem;
    position: relative;
    background-color: gold;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.3rem solid white;
    cursor: pointer;
}
#btn-iniciar{
	margin: 1.2rem;
	font-size: 3.2rem;
}
footer p{
	margin-top: 2rem;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: lightyellow;
	font-size: 2rem;
}
/*********************************************/



/*********************************************/
/* ANOTADOR */
/*********************************************/
#anotador{
	background: #0B5345;
}
#anotador .container{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
}
#lado1, #lado2{
	width: 20rem;
	padding: 1.5rem;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
#lado1{
	border-right: 0.3rem solid #F7DC6F;
}
.separador{
	width: 100%;
	height: 0.25rem;
	background: #F7DC6F;
	margin-top: 0.7rem;
}
#btn-mas-1, #btn-mas-2, #btn-menos-1, #btn-menos-2, #btn-option{
	position: absolute;
}
#anotador svg{
	fill: gold;
	transition: all 300ms ease;
	cursor: pointer;
}
#anotador svg:hover{
	transform: translate(-0.2rem, -0.2rem);
	fill: gold;
}
#btn-mas-1{
	top: 2rem;
	left: 0rem;
}
#btn-menos-1{
	top: 10rem;
	left: 0rem;
}
#btn-mas-2{
	top: 2rem;
	right: 0rem;
}
#btn-menos-2{
	top: 10rem;
	right: 0rem;
}
#btn-option{
	bottom: 1rem;
}
#anotador h3{
	font-size: 3rem;
	color: lightyellow;
}
#anotador h2{
	font-size: 2rem;
	color: lightyellow;
}
/*********************************************/



/*********************************************/
/* MODAL OPTIONS */
/*********************************************/
#modalOptions .container{
	padding: 5rem;
	width: 25rem;
	height: 25rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	background: lightyellow;
	border-radius: 0.8rem;
	border-radius: 1rem;
	position: relative;
	box-shadow: 0 0 0 100vw rgba(0,0,0,0.3);
}
#cancel-option{
	position: absolute;
	top: 2rem;
	right: 2rem;
}
#cancel-option svg{
	fill: black;
	transition: all 300ms ease;
	cursor: pointer;
}
#cancel-option:hover svg{
	fill: #CB4335;
	transform: translate(-0.3rem, -0.3rem);
}
/*********************************************/



/*********************************************/
/* MODAL WINNER */
/*********************************************/
#modalWinner .container{
	padding: 5rem;
	height: 30rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	background: lightyellow;
	border-radius: 0.8rem;
	border-radius: 1rem;
	position: relative;
	box-shadow: 0 0 0 100vw rgba(0,0,0,0.3);
}
#modalWinner p{
	font-size: 1.6rem;
	color: black;
}
/*********************************************/



/*********************************************/
/* Casitas */
/*********************************************/
.casita{
	margin: 1rem;
	width: 8rem;
	height: 8rem;
	position: relative;
}
.casita>span{
	position: absolute;
	height: .6rem;
	background: #F7DC6F;
	border-radius: 0.4rem;
	transition: all 350ms ease;
}
.off-trazo1{
	width: 0;
	top: 0;
	left: 0;
}
.off-trazo2{
	width: 0;
	top:0;
	left:8rem;
	transform: rotate(90deg);
}
.off-trazo3{
	width: 0;
	top: 0;
	left: 0;
	transform: rotate(90deg);
}
.off-trazo4{
	width: 0;
	top:8rem;
	left:0;
}
.off-trazo5{
	width: 0;
	top: 0;
	left: 0;
	transform: rotate(45deg);
}
.trazo1{
	width: 8rem;
	top:0;
	left:0;
}
.trazo2{
	width: 8rem;
	top:4rem;
	left:4rem;
	transform: rotate(90deg);
}
.trazo3{
	width: 8rem;
	top:4rem;
	left:-4rem;
	transform: rotate(90deg);
}
.trazo4{
	width: 8rem;
	top:8rem;
	left:0;
}
.trazo5{
	width: 10.8rem;
	top:4rem;
	left:-1.4rem;
	transform: rotate(45deg);
}
/*******************************************/



/*********************************************/
/* MEDIA QUERIES */
/*********************************************/
@media all and (max-width: 410px){
	html{
		font-size: 8px;
	}
}
@media all and (max-height: 730px){
	html{
		font-size: 9px;
	}
}
@media all and (max-height: 660px){
	html{
		font-size: 8px;
	}
}
@media all and (max-height: 588px){
	html{
		font-size: 7px;
	}
}
@media all and (max-height: 515px){
	html{
		font-size: 6px;
	}
}
/*********************************************/